[submodule "src/vdp/userspace-vdp-gl"]
	path = src/vdp/userspace-vdp-gl
	url = https://github.com/jackokring/userspace-vdp-gl.git
[submodule "sdcard"]
	path = sdcard
	url = git@github.com:jackokring/popup-mos.git
[submodule "src/vdp/vdp-console8"]
	path = src/vdp/vdp-console8
	url = https://github.com/tomm/agon-vdp
[submodule "src/vdp/vdp-quark666"]
	path = src/vdp/vdp-quark666
	url = git@github.com:jackokring/agon-vdp.git
